flyweb-addon

*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.DS_Store
*-blx.bib
tmp/
*.upa
*.upb
cleanup.sh
*.dpth
*.auxlock
*.markdown.*
_markdown_main/

# PTC - prefer not to track changes to generated pdfs in git
*.pdf

# Felix
reveal-example
reveal.js
