<!DOCTYPE html>
<html data-flyweb-role="server">

<head>
    <title>Shippy Sample App</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>

<body>
    <div id="main" ng-app="queueApp" ng-controller="QueueCtrl">


        <div class="jumbotron">
            <div class="container">
                <h1>CPSC Queue App
                    <div class="form-inline pull-right">
                        <div class="form-group ">
                            <button disabled="true" ng-if="!serverRunning" type="button" class="btn btn-default"><span>CONNECTING...</span></button>
                            <button disabled="true" ng-if="serverRunning" type="button" class="btn btn-success"><span>CONNECTED</span></button>
                        </div>

                    </div>

                </h1>
                <h3>Hello, {{me.name}}
                    <div class="pull-right">
                        <small>Successor: {{isSuccessor}} &nbsp;&nbsp; ID: {{clientID}}</small>
                    </div>
                </h3>

                <!--<p>Click the join button to enter the queue; Click the leave button to exit the queue; A desktop-->
                    <!--notification-->
                    <!--will appear once a TA is apple to help you. Remember to ENABLE desktop notifications!</p>-->

                <button id="enableButton" type="button" class="btn btn-default"><span>Enable Notifications</span></button>
            </div>
        </div>

            <!--<span>Hello world</span>-->
            <!--<div>Name: <span id="myname"></span></div>-->
            <!--<div>State: <span id="state"></span></div>-->
            <!--<a id="add-button" href="#">Add</a>-->
            <!--<a id="remove-button" href="#">Remove</a>-->
            <!--<div id="connection-status">Connected?</div>-->
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in queue">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <strong>{{student.name}}</strong>
                    </td>
                    <td>
                        <span ng-if="student.status == 'waiting'" ><small>Waiting</small></span>
                        <span ng-if="student.status == 'being_helped'" ><small>TA NAME here</small></span>
                        <span ng-if="student.status == 'helped'" ><small>Helped</small></span>

                        <div class="btn-group-sm pull-right">
                            <button type="button" class="btn btn-primary" ng-click="notify($index)"><span><small>helping</small></span></button>
                            <button type="button" class="btn btn-success"  ng-click="remove($index)"><span><small>dequeue</small></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="container">
            <span>{{url}}</span>
        </div>
    </div>


    <script src="js/shippy-trace.js"></script>
    <!-- The Shippy library hub -->
    <script src="js/shippy.js"></script>
    <!-- Just a static util library that can be used by all Shippy modules -->
    <script src="js/shippy-util.js"></script>
    <!-- Only Shippy session storage stuff -->
    <script src="js/shippy-storage.js"></script>
    <!-- Only Shippy server related stuff -->
    <script src="js/shippy-server.js"></script>
    <!-- Only Shippy client related stuff -->
    <script src="js/shippy-client.js"></script>

    <!-- Our queue app that doesn't know what's going on in shippy -->
    <script src="js/app.js"></script>
    <script src="js/notification.js"></script>

</body>

</html>