.reveal .slides section img {
	border: 3px solid black;
}

html body {
	background: #C4070F;
}

html.connected body {
	background: #006B00;
}

html.connected[data-flyweb-role="server"] body {
	background: #000E90;
}

#status-bar-wrap {
	background: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 5px solid black;
	height: 65px;
	overflow: auto;
}

#status-bar {
	width: 50%;
	height: 50px;
	display: none;
	float: left;
	font-size: 20px;
}

#status-bar-text {
	padding: 15px 0 0 10px;
}

#this-client {
	width: 25%;
	height: 50px;
	float: left;
}

#other-clients {
	width: 25%;
	height: 50px;
	float: left;
}

#status-bar-wrap img {
	display: inline-block;
}

#current-service-name {
	font-weight: bold;
}

html.connected #status-bar {
	display: inline-block;
}