.reveal .slides section img {
	border: 3px solid black;
}

html body {
	background: #C4070F;
}

html.connected body {
	background: #006B00;
}

html.connected[data-flyweb-role="server"] body {
	background: #000E90;
}

#status-bar-wrap {
	background: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 5px solid black;
	height: 10%;
	overflow: auto;
}

#status-bar-wrap > * {
	display: none;
	border-right: 5px solid black;
}

html.connected #status-bar-wrap > * {
	display: inline-block;
	height: 100%;
}

#status-bar {
	width: 40%;
	height: 100%;
	float: left;
	font-size: 1.5em;
}

#status-bar-text {
	padding: 15px 0 0 10px;
}

#server-name-wrap {
	width: 20%;
	float: left;
}

#successors-wrap {
	width: 40%;
	float: left;
}

#status-bar-wrap img {
	display: inline-block;
}

#current-service-name {
	font-weight: bold;
}


